<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:remove="all">Password Reset Email</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</head>
	<body>
		<div style="padding-left: 20px;">
			<span style="color: red; font-weight: bold;" th:text="${name}">姓名</span>, 您好!
		</div>
		<div style="padding: 20px 0 20px 40px">
			<div>请点击下面的链接以重设您的密码! 如果页面没有自动跳转, 请手动拷贝链接到浏览器地址栏访问。</div>
			<div style="margin-top: 10px;">
				<span>链接地址:</span>
				<a href="http://localhost:4200/password-reset/:email/:activeCode" th:href="@{${resetLink}}" target="_blank" th:text="${resetLink}">
					http://localhost:4200/password-reset/:email/:activeCode
				</a>
			</div>
		</div>
		<div style="padding-left: 20px; margin-top: 50px;">
			<div>泰国皇家数字货币交易所</div>
		</div>
	</body>
</html>