<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:remove="all">Verify Code Email</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</head>
	<body>
	<div style="padding-left: 20px;">
		<span style="color: red; font-weight: bold;" th:text="${name}">姓名</span>, 您好!
	</div>
	<div style="padding: 20px 0 20px 40px">
		<div>您在Coinsthai进行 <span th:text="${operation}">提现申请</span> 的验证码是：</div>
		<div style="margin-top: 10px;">
			<span th:text="${code}">1024</span>
		</div>
		</div>
		<div style="padding-left: 20px; margin-top: 50px;">
			<div>泰国皇家数字货币交易所</div>
		</div>
	</body>
</html>